<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Mohan Dev/Downloads/OpencartV121/AugBatch9PM/src/test/java/ScriptClass/LoginTests.java">
        <classes>
            <class name="ScriptClass.LoginTests">
                <methods>
                    <exclude name="validateLoginPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>